<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.20.1.js"></script>
<script src="js/node_utils.js"></script>
<script src="js/node.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

<link rel="stylesheet" href="css/common.css">


<body style="margin:0">
<div ng-app="nodeApp" ng-controller="myCtrl" class="container">
	  <h2 class="title">Node for computing <i>mappy</i> jobs </h2>

		<hr>
		<select style="height:50px;">
		  <option value="volvo" >Test Project</option>
		</select>
		<button value='' class="button round_btn" ng-show="!working" ng-click='working=true;new_job()'>&#9658;</button>
		<button value='' class="button round_btn" ng-show="working" ng-click='working=false;'>&#9612;&#9612;</button>
		<div class="row">
			<table class="six columns">
				<tr><th>Ids for processed jobs</th><th>Names</th><th>Time in milliseconds</th></tr>
				<tr ng-repeat="job in processed_jobs track by $index">
					<td>{{job[1]}}</td><td>{{job[0]}}</td><td>{{job[2]}}</td>
				</tr>
			</table>
			<table  class="six columns">
				<tr><th>Ids for error jobs</th><th>Names</th><th>Error details</th></tr>
				<tr ng-repeat="err in error_jobs">
					<td>{{err[1]}}</td><td>{{err[0]}}</td><td>{{err[2]}}</td>
				</tr>
			</table>
		</div>

</div>
</body>